/* 검색 폼에 스타일 적용 */
.TodoList .searchbar {
    margin-bottom: 30px;
    width: 100%;
    border: none;
    border-bottom: 3px solid rgb(220,220,220);
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom:10px;
}

/* 검색 폼을 클릭 시 스타일 적용 */
.TodoList .searchbar:focus {
    outline: none;
    border-bottom: 2px solid #1f93ff;
}